<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShipperForm.Properties.Settings.CarTradingConnectionString"
            connectionString="Data Source=DESKTOP-TVRD1PQ\SQLEXPRESS;Initial Catalog=CarTrading;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="localhost_CarTrading_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-TVRD1PQ\SQLEXPRESS;integrated security=SSPI;initial catalog=CarTrading" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>